@import '../variables.scss';

.mainContainer {
  z-index: 3;
  position: fixed;
  display: flex;
  flex-direction: row;
}

.listContainerSmall,
.listContainerLarge {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 50rem;
  margin-left: 2%;

  b {
    text-align: center;
  }
}

.listContainerSmall {
  width: 35rem;
}

.formContainer {
  display: flex;
  position: absolute;
  left: 70rem;
  z-index: -5;

  form {
    display: flex;
    flex-grow: 2;
    margin-left: 0;
    border-radius: 2rem;
    border: 1px solid black;

    h4 {
      margin: 0;
    }

    .formElement {
      input {
        margin-top: 0;
        margin-left: 0.5rem;
        padding-left: 1rem;
      }
    }

    p {
      margin: 0;
      margin-top: 1rem;
    }

    padding: 3rem;
    padding-bottom: 2rem;
    flex-direction: column;
  }
}

.labelInputText,
.buttonAddItem,
.modalButton,
.backToButton {
  font-family: $fontFamilyBasic;
  font-size: 1rem;
  height: 3rem;
  margin-top: 2rem;
  border: 3px solid black;
  border-radius: 1rem;
  border-width: calc(0.05rem + 0.1vmin);
  background-color: white;
  transition: 0.5s;
}

.labelInputText {
  height: 2rem;
}

.buttonAddItem {
  font-size: 2rem;
}

.buttonAddItem:hover {
  cursor: pointer;
  background-color: #ccc;
  border-color: #ccc;
  transition: 0.5s;
}

.modalButton,
.backToButton {
  text-decoration: none;
  position: absolute;

  bottom: 3rem;
  font-size: 1.5rem;
}
.backToButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 20rem;
  height: 5rem;
  right: 5%;
}
.modalButton {
  background-color: black;
  color: white;
  width: 25rem;
  height: 5rem;
  left: 25%;
}
.modalButton:hover {
  color: black;
  background-color: #ccc;
  transition: 0.5s;
}
.backToButton:hover {
  background-color: #ccc;
  transition: 0.5s;
}
